In [21]:
poem = '''twinkle twinkle little star
how i wonder what you are'''
print(poem)

twinkle twinkle little star
how i wonder what you are

In [22]:
fruits = ['apple','banana','cherry','mango']
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [23]:
fruits = ('apple','banana','cherry','mango')
print(fruits)

('apple', 'banana', 'cherry', 'mango')

In [24]:
fruits = {'apple','banana','cherry','mango','apple'}
print(fruits)

{'mango', 'cherry', 'banana', 'apple'}

In [25]:
student = {
    'name' : 'john',
    'age' : 10,
    'class' : 7, 
    'marks' : 75
}
print(student)

{'name': 'john', 'age': 10, 'class': 7, 'marks': 75}

In [26]:
#to check the datatype of any variable
type(student)

dict

In [27]:
#to check the data type of any variable
type(fruits)

set

Type Casting
###### it is a process to convert the datatype in any variable into another datatype

In [35]:
a = 10
b = str(a)
type(b)

str

In [ ]:
a = input("enter a number:")
print(a)

67

In [38]:
a = int(input("Enter a number"))
print(a)

67

In [39]:
type(a)

int

In [41]:
r = 5
area = 3.14*r*r
print(area)

78.5

In [42]:
bs = 50,000
tda = 10/100*50000
hra = 5/100*50000
netsal = 50000+tda+hra
print(netsal)

57500.0